.show{
    width: 100%;
    height: 100%;
    &-track{
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
    }
    &-slide{
        display: flex;
        position: relative;
        margin: 0 auto;
        &__child{
            flex-shrink: 0;
            width: 100%;
            height: auto;
            img{
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
    &-nextprev{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        &__child{
            display: inline-block;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 40px;
            height: 40px;
            border-bottom: solid 2px $colorBase;
            cursor: pointer;
            &--next{
                right: 40px;
                border-right: solid 2px $colorBase;
                transform: rotate(-45deg);
            }
            &--prev{
                left: 40px;
                border-left: solid 2px $colorBase;
                transform: rotate(45deg);
            }
        }
    }
    &-pagination{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        z-index: 10;
        &__child{
            display: inline-block;
            position: relative;
            margin-right: 12px;
            width: 48px;
            height: 48px;
            opacity: .4;
            cursor: pointer;
            &:last-child{
                margin-right: 0;
            }
            &::after{
                @include middle;
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: $colorBase;
            }
        }
    }
}